/* All pages */
html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body, .app {
  background: white;
}

/* main page */
.main-page-header-title {
  flex-wrap: nowrap;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  padding: 10px 0;
  background: #050505;
}
.main-page-header-title span {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-image: url('./logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px;
  font-size: 0;
}

.main-page-header-title h1 {
  font-weight: 400;
  margin: 0;
  color: white;
}

.main-page-header-title select {
  margin-left: 25px;
  width: 200px;
  height: 48px;
  font-size: 18px;
  color: white;
  background: #60ac5d;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}

.main-page-content {
  padding: 0 0 80px;
  flex: 1;
}

/* search component */
.search-bar {
  position: absolute;
  right: 0px;
  top: 10px;
  width: 293px;
  height: 48px;
}

.search-bar input {
  width: 290px;
  height: 48px;
  padding: 15px 10px;
  font-size: 1.25em;
  color: white;
  background: #050505;
  border: #050505
}

/* search component */
.posts {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .posts {
    padding: 0 20px 40px;
  }
}
/* posts */
.posts-title {
  border-bottom: 1px solid #dedede;
}
.posts-list {
  text-align: left;
}

/* Post */
.post {
  text-align: left;
  padding: 10px;
  margin-bottom: 6px;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  cursor:pointer;
}

.post-header {
  widows: 100%;
  display: flex;
}

.post-header
.title {
  font-size: 1.0em;
  border-bottom: 1px solid #dedede;
}

.post-header-title{
  width: 80%;
}

.post-header-title
.category {
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.udacity
{
  text-decoration: none;
  background-color: #0062cc;
}

.react {
  color: #fff;
  background-color: #61DAFB;
}

.redux {
  background-color: #dc3545;
}

.none {
  color: #fff;
  background-color: #868e96;
}

.post-header-published { 
  text-align: right;
  width: 20%;
  align-items: flex-end;
}

.post-header-published span,
.post-header-author {
  color: #999;  
}

.post-body {
  display: inline;
}

.post-footer {
  flex: 1;
  text-align: right;
}

.liked, .not-liked, .edit-button, .delete-button {
  padding: 0.25em 0.4em;
  margin: 0px 5px;
  color: #fff;
  font-size: 14px;
  background-color: #464a4e;
  border-color: #464a4e;
}
.liked {
  background-color: #155724;
  border-color: #155724;
}

.not-liked {
  background-color: #dc3545;
  border-color: #dc3545;
}

.liked span {
  padding: 0.25em 0.25em;
  font-size: 90%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color:#0c4917;
}

/* Post page */
.post-page-header {
  padding: 10px;
  flex-wrap: nowrap;
  display: flex;
  flex-wrap: nowrap;
  background: #050505;
  align-items: center;
}

.post-page-header-back {
  position: absolute;
  top: 8px;
  left: 10px;
  width: 30px;
  height: 33px;
  background: #050505;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.post-page-header-title span:nth-of-type(1) {
  margin: 0 10px 0 40px;  
  padding: 0.6em 0.4em;
  font-size: 75%;
  font-weight: bold;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  border-radius: 0.25rem;
  text-align: center;
}

.post-page-header-title span:nth-of-type(2) {  
  font-weight: 400;
  color: white;
}

.post-page-header-buttons {
  flex: 1;
  text-align: right;
}

@media (max-width: 700px) {
  .post-page-header  {
    display: block;
  }

  .post-page-header-close {
    display: flex;
  }
  
  .post-page-header-buttons {
    margin-top: 15px;
    flex: 1;
    text-align: center;
  }
}

.edit-button
{
  text-decoration: none;
  background-color: #0062cc;
}

.delete-button
{
  text-decoration: none;
  background-color: #cc0000;
}

.post-page-content {
  padding: 0 0 80px;
  flex: 1;
}